<div class="backLink" routerLink="/">
  < Back
</div>

<h2>Currency Calculator</h2>

<div id="calculatorInputContainer">
  <div>
    <label for="inputAmount">Amount</label>
    <input id="inputAmount" type="number" [(ngModel)]="amount" (input)="convertCurrency()" min="0">
  </div>

  <div>
    <label>Select Currency:</label>
    <div class="custom-dropdown">
      <div
        class="dropdown-toggle"
        (click)="showDropdown = !showDropdown">
        @if(selectedCurrency){
          <span>{{ searchQuery }}</span>
        } @else {
          <span>Select currency</span>

        }
        <i class="dropdown-arrow" [ngClass]="{'dropdown-arrow-up': showDropdown, 'dropdown-arrow-down': !showDropdown}"></i>
      </div>

      @if(showDropdown) {
        <ul class="dropdown-menu">
          <li *ngFor="let rate of filteredCurrencies()" (click)="selectCurrency(rate)">
            {{ rate.flag }} {{ rate.currencyName }} ({{ rate.currencyCode }})
          </li>
        </ul>
      }
    </div>
  </div>
</div>

@if(convertedAmount){
  <div id="convertedAmount">
    <span>{{amount}} Eur =</span> {{ convertedAmount | number: '1.2-2' }} {{selectedCurrency}}
  </div>
}

<div *ngIf="error">
  {{ error }}
</div>
