<h1>Latest Exchange Rates</h1>

@if(loading){
  <div class="loading">Loading exchange rates...</div>
} @else if (error) {
  <div class="error">{{ error }}</div>
} @else if (exchangeRates) {
  @if(exchangeRates.length > 0) {
    <div id="menu">
      <div>Last updated {{exchangeRates[0].date | date: 'mediumDate' }}</div>
      <button routerLink="calculator">Calculator</button>
    </div>
    <table class="rates-table">
      <thead>
      <tr>
        <th>Code</th>
        <th>Currency</th>
        <th>Rate</th>
      </tr>
      </thead>
      <tbody>
        @for (rate of exchangeRates; track rate.currencyCode){
          <tr [routerLink]="['/history', rate.currencyCode]">
            <td>{{ rate.flag}} {{ rate.currencyCode }}</td>
            <td>{{ rate.currencyName }}</td>
            <td>{{ rate.rate | number:'1.6-6' }}</td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <div class="no-data">
      No exchange rates available.
    </div>
  }
}
